In [87]:
import pandas as pd
import json
import requests
from bs4 import BeautifulSoup

In [88]:
df=pd.read_csv("C:\\Users\\97250\\Desktop\\data\\destinations_LP_crawler_Ex5.csv", encoding='ISO-8859-1')
key = "AIzaSyByS69KCJmj0sn_x9Ejse1SE3s98H5LL5Y"
LP_destinations = pd.DataFrame(df["city"])
country =  []
description = []

In [89]:
for i in range(len(df)):
    try:
        url = "https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (df.loc[i,'city'], key)
        response = requests.get(url)
        if not response.status_code==200:
                print("HTTP error",response.status_code)
        else:
            response_json = response.json()
            leng = len(response_json["results"][0]['address_components'])-1
            country_of = response_json['results'][0]['formatted_address'].split(",")[-1].rstrip().lstrip()
            try:
                check_if_number = int(country_of.split()[0]) #ch
                country_of = response_json['results'][0]['formatted_address'].split(",")[1].strip()
                country.append(country_of)
            except:
                country.append(country_of)
    except: #reaf also "Krak¿" by using the describes of the city
        url = "https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (df.loc[i,'city_LP'], key)
        response = requests.get(url)
        if not response.status_code==200:
            print("HTTP error",response.status_code)
        else:
            response_json = response.json()
            leng = len(response_json["results"][0]['address_components'])-2
            country_of = response_json['results'][0]['formatted_address'].split(",")[-1].rstrip().lstrip()
            country.append(country_of)

LP_destinations["Country"] = country

In [90]:
df["country"] = country
for i in range(len(df)):
    try:
        if df.loc[i,'country'].startswith("Odessa"): #Odessa is the region and not the country 
            df.loc[i,'country'] = "Ukraine" #lonelyplanet read 'United states' as usa
        url = "https://www.lonelyplanet.com/%s/%s"% (df.loc[i,'country'],df.loc[i,'city_LP'])
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')
        Main_tag = soup.find("section", { "id" : "introduction" })
        Text_tag = Main_tag.find('p').text
        description.append(Text_tag)
    except:
        print("Something went wrong")
LP_destinations["Description"] = description

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75

In [91]:
LP_destinations

         city      Country                                        Description
0     Antalya       Turkey  Once seen simply as the gateway to the Turkish...
1      Athens       Greece  With equal measures of grunge and grace, Athen...
2   Ayia-napa       Cyprus  Endless blue-sky days and a coastline riddled ...
3     Bangkok     Thailand  Same same, but different. This Thailish T-shir...
4   Barcelona        Spain  Barcelona is an enchanting seaside city with b...
..        ...          ...                                                ...
71     Venice        Italy  Imagine the audacity of building a city of mar...
72     Vienna      Austria  Baroque streetscapes and imperial palaces set ...
73     Warsaw       Poland  A phoenix arisen from the ashes, Poland's capi...
74  Zakynthos       Greece  Zakynthos, also known by its Italian name Zant...
75     Zurich  Switzerland  Culturally vibrant, efficiently run and attrac...

[76 rows x 3 columns]

In [ ]:
LP_destinations.to_csv('LP_destinations.csv', index=False)